<nav class="navbar navbar-expand navbar-dark bg-primary mb-3">
  <div class="container">
    <a href="{{'/' | url }}" class="navbar-brand">
      <img src="{{'/images/logo_stargazers_bug.svg' | url}}" alt="Stargazer Logo" style="max-width:35px;"> StarGazer
    </a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{{'/' | url }}" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{'/cast' | url }}" class="nav-link">Cast</a>
      </li>
      <li class="nav-item">
        <a href="{{'/collectibles' | url }}" class="nav-link">Collectibles</a>
      </li>
    </ul>
  </div>
</nav>